@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__next {
  width: 100vw;
  height: 100vh;
  font-family: 'Merriweather Sans', sans-serif;
  @apply flex flex-col items-center;
  @apply bg-gray-100;
  @apply dark:bg-gray-800;
}